:root {
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --NAVY-BLUE: #2e2f42;
  --IRIS: #4d5ae5;
  --SLATE: #434455;
  --WHITE: #ffffff;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --OCEAN: #404bbf;
  --transition-variable: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-data-background: #fcfcfc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--text-font-family);
  color: var(--SLATE);
  background-color: var(--WHITE);
}

img {
  display: block;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

p {
  margin: 0;
}
.header-container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  border-bottom: 1px solid var(--CORNFLOWER);
  box-sizing: border-box;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  margin: 0;
  padding: 0;
}

.header-nav-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: var(--logo-font-family);
  color: var(--IRIS);
  font-size: 18px;
  font-weight: 800;
  margin-right: 76px;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.studio-word-link {
  color: var(--NAVY-BLUE);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.after-studio::after {
  content: "";
  position: absolute;
  left: 0;
  right: 2px;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.list {
  list-style: none;
  margin: 0;
  gap: 40px;
  display: flex;
}

.div-list {
  display: flex;
}

.div-buttons-container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ul-list-words {
  margin-right: 40px;
  padding: 24px 0;
}

.link-href-apps {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link {
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: inline-block;
  padding: 24px 0;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.list-link:hover,
.list-link:focus {
  color: var(--OCEAN);
}

.after-studio {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-title {
  font-style: normal;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.div-address {
  display: flex;
  gap: 40px;
}

.address-link {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
  text-decoration: none;
  display: flex;
  list-style: none;
  font-style: normal;
  gap: 40px;
}

.address-link:hover,
.address-link:focus {
  color: var(--OCEAN);
}

.hero-section-list {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(..//images/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 188px 0;
  max-width: 1440px;
  height: 660px;
  margin: 0 auto;
}

.div-container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  color: var(--WHITE);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07em;
  text-align: center;
  letter-spacing: 1.12px;
  margin: 0 auto;
  max-width: 496px;
  padding-bottom: 48px;
}

.order-service-button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover {
  background-color: #404bbf;
}
.order-service-button:focus {
  background-color: #404bbf;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.key-words-list {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.words-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.four-list {
  list-style: none;
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.key-words {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 8px;
  letter-spacing: 0.4px;
}

.key-words-section {
  color: var(--SLATE);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.div-container-four {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.activ-list {
  padding-bottom: 120px;
}

.activ-div-container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.activity-section {
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.image-list-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

.container-our-team {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.people {
  background-color: var(--WHITE);
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.people-name-job {
  background-color: var(--WHITE);
  text-align: center;
  padding: 32px 0;
}

.team-section-list {
  background: var(--CLOUD);
  padding: 120px 0;
}

.team-list {
  background-color: var(--CLOUD);
  gap: 24px;
  display: flex;
}

.team-title {
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700px;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.team-members {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-jobs {
  color: var(--SLATE);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer-section {
  background-color: var(--NAVY-BLUE);
  padding: 100px 0;
}

.footer-container {
  margin-right: 120px;
}

.socials-whole {
  box-sizing: border-box;
}

.studio-word-footer-link {
  color: var(--CLOUD);
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-footer-link {
  font-family: var(--logo-font-family);
  color: var(--IRIS);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
}

.text-footer {
  color: var(--CLOUD);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  max-width: 264px;
}

.list-buttons {
  font-family: var(--text-font-family);
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.buttons-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.nav-button {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-button {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}

.nav-button:hover {
  background-color: #404bbf;
  color: var(--WHITE);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0, 0.2, 1);
}

.nav-button:focus {
  background-color: #404bbf;
  color: var(--WHITE);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0, 0.2, 1);
}

.images-list {
  list-style: none;
  text-decoration: none;
  justify-content: center;
  display: flex;
  gap: 24px;
  flex-direction: row;
}

.images-list-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.images {
  display: block;
}
.main-titles {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.main-paragraph {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
}

.app-name {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER);
  border-top: none;
}

.app-link {
  width: calc((100% - 48px) / 3);
  text-decoration: none;
  margin: 0;
}

.link-href-apps:hover,
.link-href-apps:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.images-single {
  display: block;
  max-width: 100%;
  height: auto;
}

.icons-four {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--CLOUD);
  margin-bottom: 8px;
}

.socials-ellipse {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-ellipse:hover,
.socials-ellipse:focus {
  background-color: #404bbf;
}

.socials-list-ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 0;
}

.social-people-icons {
  fill: #f4f4fd;
}

.social-media-footer {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;
}

.social-media-footer-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 16px;
  padding-left: 0%;
}

.social-media-footer-icon {
  text-decoration: none;
  width: 40px;
  height: 40px;
}

.footer-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: #31d0aa;
}

.social-link-icon {
  fill: #f4f4fd;
}

.whole-footer {
  display: flex;
  align-items: baseline;
}

.another-footer {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.customer-section-container {
  text-decoration: none;
}

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-logos-list {
  justify-content: center;
  text-decoration: none;
  list-style: none;
  text-align: center;
  display: flex;
  gap: 24px;
  height: 88px;
}

.customers-word {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.customers-logos-item {
  width: 168px;
  height: 88px;
  flex-basis: calc((100% - 120px) / 6);
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  width: 168px;
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.svg-logo {
  fill: currentColor;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.div-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--NAVY-BLUE);
  margin: 1px solid rgba (0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}

.app-stylish {
  position: relative;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0, 0.2, 1);
}

.link-href-apps:hover p,
.link-href-apps:focus p {
  transform: translateY(0%);
  transform: translateY(0%);
}

.stylish-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  opacity: 0.9;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.modal-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
  color: var(--NAVY-BLUE);
}

.modal-box-one {
  margin-bottom: 8px;
}

.modal-box-words {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-box-two {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.form-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .form-icons {
  fill: #4d5ae5;
}
.modal-box-comment {
  margin-bottom: 16px;
}

.user-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
  border-color: #4d5ae5;
}

.modal-privacy {
  margin-bottom: 24px;
}

.privacy-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.privacy-label {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  display: block;
  color: #8e8f99;
}

.privacy-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-input:checked + .privacy-label .privacy-box {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.privacy-policy {
  color: #4d5ae5;
}

.send-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  text-align: center;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sub-box {
  margin-left: 80px;
}

.footer-sub {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-label {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer-input {
  width: 264px;
  height: 40px;
  gap: 24px;
  color: #fff;
  background-color: transparent;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}

.footer-sub-button {
  height: 40px;
  min-width: 165px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
}

.footer-sub-icon {
  margin-left: 16px;
}
